
<template>
    <section class="section section-shaped section-lg my-0">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <card type="secondary" shadow
                          header-classes="bg-white pb-5"
                          body-classes="px-lg-5 py-lg-5"
                          class="border-0">
                        <template>
                            <div class="text-muted text-center mb-3">
                                <small>Sign in with</small>
                            </div>
                        </template>
                        <template>

                            <form role="form">
                                <base-input alternative
                                v-model="email"
                                placeholder="Email"

                                addon-left-icon="ni ni-email-83"
                                >
                                </base-input>
                                <base-input alternative
                                v-model="password" placeholder="Password"
                                type="password"

                                addon-left-icon="ni ni-lock-circle-open">

                                </base-input>
                                <base-checkbox v-model="remember_me"  >
                                    Remember me
                                </base-checkbox>

                                <div class="text-center">
                                    <base-button type="primary" class="my-4" @click="onSubmit(email, password,remember_me)">Sign In</base-button>
                                </div>
                            </form>
                        </template>
                    </card>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a href="#" class="text-light">
                                <small>Forgot password?</small>
                            </a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="/register" class="text-light">
                                <small>Create new account</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>

    import { mapState } from 'vuex'
    import { LOGIN } from "@/store/actions.type";
    export default {
        name: "login",
        data() {
            return {
                email: null,
                password: null,
                remember_me: null
            };
        },
        methods: {
            onSubmit(email, password, remember_me) {
                this.$store
                    .dispatch(LOGIN, {email, password, remember_me})
                    .then(() => this.$router.push({name: "/"}));
            }
        },

            computed: {
                ...mapState({
                    errors: state => state.auth.errors
                })
            }


    }



</script>

<style scoped>

</style>