<template>
    <div>
        <h2>You Are  In Logged Out !!! </h2>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "logout",

        created(){
            let token =localStorage.getItem('token');
            axios.get("http://api.syrianbloods.com/api/auth/logout?access_token="+token)
                .then(response=>{
                   console.log(response)
                    localStorage.removeItem('token');

                });
        }
    }
</script>

<style scoped>

</style>