
<template>
    <section class="section section-shaped section-lg my-0">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <card type="secondary" shadow
                          header-classes="bg-white pb-5"
                          body-classes="px-lg-5 py-lg-5"
                          class="border-0">
                        <template>
                            <div class="text-muted text-center mb-3">
                                <small>Sign in with</small>
                            </div>
                        </template>
                        <template>

                            <form role="form">
                              <base-input
                                v-model="username"
                                placeholder="Username"
                                :rules="rules.required"
                                addon-left-icon="ni ni-hat-3"
                                >
                              </base-input>
                                <base-input
                                v-model="email"
                                placeholder="Email"
                                :rules="rules.required"
                                addon-left-icon="ni ni-email-83"
                                >
                                </base-input>

                                <base-input
                                 v-model="password"
                                placeholder="Password"
                                 type="Password"
                                 addon-left-icon="ni ni-lock-circle-open"
                                >


                                </base-input>
                                <base-input
                                    v-model="password_confirmation"
                                    placeholder="PasswordConfirmation"
                                    type="password"
                                    addon-left-icon="ni ni-lock-circle-open"
                                >
                                </base-input>

                                <div class="text-muted font-italic">
                                    <small>password strength:
                                        <span class="text-success font-weight-700">strong</span>
                                    </small>
                                </div>
                                <label>Select Account Type </label>
                                <select  id="mySelect" v-model="account_type_id">
                                <option v-for=" type in types" :type="type" :key="type.title" :value="type.id">{{type.title}}</option>
                                </select>
                                <base-checkbox>
                                    <span>I agree with the
                                        <a href="#">Privacy Policy</a>
                                    </span>
                                </base-checkbox>
                                <div class="text-center">
                                    <base-button type="primary" class="my-4" @click="registerIt">Create account</base-button>
                                </div>
                            </form>
                        </template>
                    </card>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
     import { mapState } from "vuex";

    import { REGISTER } from "@/store/actions.type";

    export default {
        name: "register",
        components: {

        },

        data(){
            return {

                    username:null,
                    email:null,
                    password:null,
                    password_confirmation:null,
                    account_type_id:null,

                types:[{
                    id: 1,title:"Individual"
                }],
                rules: {
                    required: [value => !!value || "Required."]
                },

            }
        },
        computed: {
            ...mapState({
                errors: state => state.auth.errors
            })
        },

        methods: {
            registerIt() {
                this.$store
                    .dispatch(REGISTER, {
                        username: this.username,
                        email: this.email,
                        password: this.password,
                        password_confirmation: this.password_confirmation,
                        account_type_id: this.account_type_id
                    })
                    .then(() => this.$router.push({name: "/login"}));
            }
        }
    }
</script>

<style scoped>
#mySelect{
    -webkit-appearance:listbox;

}
</style>